body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020d;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

h1,
h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  column-gap: auto;
}

.col-2 {
  grid-column-end: span 2;
}

.col-3 {
  grid-column-end: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-6 {
  grid-column-end: span 6;
}

.col-8 {
  grid-column-end: span 8;
}

.start-2 {
  grid-column-start: 2;
}

.start-9 {
  grid-column-start: 9;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  background: none;
  border: 1px solid #FFFFFF;
  color: inherit;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  display: block;
}

.upper {
  text-transform: uppercase;
}

p {
  margin-block: 0;
  margin-inline: 0;
}

h3 {
  margin-block: 0;
  margin-inline: 0;
}

.mt-4 {
  margin-top: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.ml-5 {
  margin-left: 50px;
}

.orange {
  color: #F89202;
}

.centre {
  text-align: center;
}

.reverse {
  flex-direction: row-reverse;
}

header {
  padding: 25px 0;
  text-transform: uppercase;
  font-size: 11px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px 20px;
}
.logo img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-element {
  display: block;
  padding: 0 20px;
}

.nav .selected {
  color: #FFFFFF;
}

.search {
  display: flex;
  align-items: center;
  font-size: 13.5px;
  border-radius: 50px;
  background-color: #3C3B3D;
  height: 25px;
  padding-left: 10px;
  margin: 20px;
  width: 20%;
}

@media screen and (max-width: 414px) {
  .nav {
    display: block;
  }
  header {
    padding: 0;
  }
  header .content {
    display: block;
  }
  .search {
    width: auto;
    padding-right: 10px;
  }
}
.back-img {
  background-image: url("/src/images/banner.png");
  background-position: center;
  background-size: cover;
}

.hero {
  padding: 200px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.hero .hero-content form {
  display: flex;
  max-width: 570px;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  color: #FFFFFF;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}
.hero .hero-content input {
  min-width: 246px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid #CACACA;
  border-radius: 3px;
  background: none;
  color: inherit;
}
.hero .hero-content input ::placeholder {
  color: #FFFFFF;
}
.hero .hero-content button {
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #34C176;
  border: none;
  color: inherit;
  text-transform: uppercase;
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FFFFFF;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFFFFF;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFFFFF;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFFFFF;
}

::placeholder { /* Most modern browsers support this now. */
  color: #FFFFFF;
}

@media screen and (max-width: 414px) {
  button,
  input {
    width: 100%;
    margin: 0 20px;
  }
  .hero-content span {
    padding: 0 20px;
    text-align: center;
  }
}
.page-pricing {
  padding-top: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.page-pricing h2 {
  font-size: 2rem;
}

.page-pricing .cards {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cards .pricing-item {
  padding: 0px 1.5rem;
  border-radius: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-bottom: 50px;
}

.pricing-item h3 {
  padding-bottom: 200px;
  font-size: 24px;
  line-height: 36px;
}

.pricing-item .btn {
  padding: 20px 0;
}

.pricing-item .pricing-value {
  font-size: 64px;
  line-height: 64px;
  display: flex;
  padding-right: 16px;
}

.pricing-item .currency {
  font-size: 32px;
  line-height: 48px;
  padding-left: 16px;
}

.pricing-item .pricing-footer {
  padding: 64px 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.bg-1 {
  background-image: url("/src/images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-2 {
  background-image: url("/src/images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-3 {
  background-image: url("/src/images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 414px) {
  .cards .pricing-item {
    width: 100%;
    margin: 0 20px 50px 20px;
  }
}
.page-news {
  flex-direction: column;
  max-width: 1200px;
  padding-top: 100px;
}

.page-news h2 {
  font-size: 38px;
  line-height: 57px;
}

.news-item {
  padding-bottom: 65px;
  gap: 50px;
}

.news-item > img {
  width: 100%;
}

.news-item .news-body {
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}

.news-item .btn {
  padding: 16px 30px;
  width: max-content;
}

.news-item span {
  padding-right: 16px;
}

.news-item .avatar {
  padding-right: 16px;
}

.news-item h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
  padding-bottom: 30px;
}

.news-item .news-author {
  align-items: center;
  justify-content: left;
  padding: 24px 0;
}

@media screen and (max-width: 414px) {
  .news-item {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
