.back-img {
  background-image: url("/src/images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.heart {
  -webkit-mask-image: url("/src/images/heart.svg");
  mask-image: url("/src/images/heart.svg");
}

.play {
  -webkit-mask-image: url("/src/images/play-button.svg");
  mask-image: url("/src/images/play-button.svg");
}

.hero {
  padding: 200px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.hero .btn {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 140px;
  padding: 20px 30px;
  font-size: 12.8px;
  border: none;
}

.hero .purple {
  background-color: #5328A1;
}

.hero .brown {
  background-color: #95390C;
}

.hero .button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media screen and (max-width: 414px) {
  .hero-content {
    padding: 0 20px;
    text-align: center;
    width: auto !important;
  }
}
.page-popular-track {
  padding-top: 100px;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.popular-track .track-info h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
}

.popular-track {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.popular-track img {
  width: 55px;
  height: 55px;
}

.popular-track .track-info {
  padding-left: 15px;
}

.popular-track .time {
  margin-left: auto;
}

.tracks-content {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 50px;
}

@media screen and (max-width: 414px) {
  .tracks-content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: auto;
  }
  .page-popular-track h2 {
    padding: 0 20px;
    font-size: 18px;
    line-height: 27px;
  }
}
.page-discography {
  padding-top: 100px;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.discography-item .discography-info h4 {
  margin-block-end: 0;
}

.discography-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.discography-item img {
  width: 250px;
  height: 250px;
}

.page-discography .content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  column-gap: 50px;
}

@media screen and (max-width: 414px) {
  .page-discography .content {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    width: auto;
  }
  .page-discography h2 {
    padding: 0 20px;
    font-size: 18px;
    line-height: 27px;
  }
  .discography-item {
    flex-direction: column;
    width: min-content;
    align-items: start;
  }
  .discography-item img {
    width: 137px;
    height: 137px;
  }
}
h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-align: left;
  align-self: flex-start;
}

/*# sourceMappingURL=artist.css.map */
