@import '../variables.scss';
@import './common.scss';

.page-similar {
    padding: 100px 0;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.similar-item .similar-info h4 {
    @include h4;
}

.similar-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.similar-item img {
    width: 250px;
    height: 250px;
}

.similar-item .similar-info {
    text-align: center;
}

.page-similar .content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 50px;
}

@media screen and (max-width: 414px) {
    .page-similar .content {
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        width: auto;
    }

    .page-similar h2 {
        @include h2-small;
    }

    .similar-item {
        flex-direction: column;
        width: min-content;
        align-items: start;
    }

    .similar-item img {
        width: 137px;
        height: 137px;
    }
}

